
/* Colors For Nav Bar */
.navbar-brand{
    color: white;
}

#navbar{
    background-color: rgb(59,69,82);
}

.nav-link{
    color: white;
}

.nav-icons{
    background-color: none;
    border-width: 0ch;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.logo{
    width: 150;
    height: 50;
}

/*TABS*/

#tab{
    color: black;
}

/*Swicth View btn*/

.switchbtn{
    display: flex;
    justify-content: center;
}

/*Data Cards*/
.heading{
    display: flex;
    justify-content: center;
}

.chartbox{
    width: 600px;
    height: 400px;
}

.container-green, .container-blue, .container-algood, .containerblue-crossville, .containergold-crossville, .containerred-mcminnville, .containerblue-mcminnville{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.data-card{
    background-color: rgb(59,69,82) ;
    color: white;
    min-width: none;
    min-height: none;
    cursor: grab;
}