/* Colors For Nav Bar */
.navbar-brand{
    color: white;
}

#navbar{
    background-color: rgb(59,69,82);
}

.nav-link{
    color: white;
}

.user, .logout{
    background-color: rgb(59,69,82);
    border-width: 0ch;
}

/*TABS*/

#tab{
    color: black;
}

/*Swicth View btn*/

.switchbtn{
    display: flex;
    justify-content: center;
}

/*Data Cards*/
.container-heading{
    display: flex;
    justify-content: flex-start;
}

.container-green{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.container-blue{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.data-card{
    background-color: rgb(59,69,82) ;
    color: white;
    width: fit-content;
}